@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600&display=swap');

.container h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    color: rgb(196, 16, 16);
    font-family: 'League Spartan', sans-serif;
}
.MovieList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0 2rem;
   
    
    

}
.Cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    
}

img {

    width: 180px;
    border-radius: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    
   
}

span {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    justify-content: center;
}
span h1 {
    font-size: 18pt;
}
.container .Cards p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .Cards svg {
    font-size: 1.5rem;
    color: #f7d354;
    
}
a {
    transition: all 0.3s;
    width: 180px;
   
}

a:hover {
    transform: scale(1.2);
}
